@media screen and (max-width:1180px) {

    .grid__layout{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .c1{
    grid-row: 1/6;
    grid-column: 1/3;
    }

    .person__card{
        width: 540px;
        height: 300px;
    }

    .person__container{
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_container{
        display: flex;
        flex-direction: unset;
        justify-content: space-around;
        align-items: center;

        button{
            margin-top: 50% - 45%;
            text-align: center;
        }
    }
    
}



@media screen and (max-width:555px) {
    .grid__layout{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
    .c1{
    grid-row: 1/1;
    grid-column: 1/2;
    }

    .person__card{
        width: 360px;
        height: 220px;
    }
    .person__container{
        height: 150px;

        img{
            width: 60px;
            height: 60px;  
        }
    }

    .report__of__text{
        font-size:16px;
        margin: 0px 0px 0px 10px ;
    }

    .person__name{
        font-size: 30px;
        margin: 0px 0px 0px 10px ;
    }


    /* work card */
    .work{
        width: 360px;
        height: 220px;

        .card_inside{
            width: 360px;
            height: 170px;
        }

        .text_container{
            
            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2{
                    font-size: 45px;
                }
            }
            
        }
    }


    /*  */
    .play{
        width: 360px;
        height: 220px;

        .card_inside{
            width: 360px;
            height: 170px;
        }

        .text_container{

            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2{
                    font-size: 45px;
                }
            }
            
        }
    }
    
    /*  */

    .study{
        width: 360px;
        height: 220px;

        .card_inside{
            width: 360px;
            height: 170px;
        }

        .text_container{

            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2{
                    font-size: 45px;
                }
            }
            
        }
    }

    /*  */

    .exercise{
        width: 360px;
        height: 220px;

        .card_inside{
            width: 360px;
            height: 170px;
        }

        .text_container{

            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2{
                    font-size: 45px;
                }
            }
            
        }
    }

    /*  */

    .social{
        width: 360px;
        height: 220px;

        .card_inside{
            width: 360px;
            height: 170px;
        }

        .text_container{

            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2{
                    font-size: 45px;
                }
            }
            
        }
    }

    /*  */


    .self_care{
        width: 360px;
        height: 220px;

        .card_inside{
            width: 360px;
            height: 170px;
        }

        .text_container{

            div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h2{
                    font-size: 45px;
                }
            }
            
        }
    }
}
